@media (max-width: 400px) {
    /* scale(5) */
    .path1._biger {
        transform: translate3d(-26%, -29%, 0) scale(6) !important;
    }

    .path2._biger {
        transform: translate3d(34%, 32%, 0) scale(6.1) !important;
    }

    .path3._biger {
        transform: translate3d(34%, 43%, 0) scale(6.2) !important;
    }

    .path4._biger {
        transform: translate3d(-10%, -28%, 0) scale(6) !important;
    }

    .path5._biger {
        transform: translate3d(30%, 14%, 0) scale(6) !important;
    }

    .path6._biger {
        transform: translate3d(32%, -5%, 0) scale(7) !important;
    }

    .path7._biger {
        transform: translate3d(32%, 10%, 0) scale(6.6) !important;
    }

    .path8._biger {
        transform: translate3d(28%, 15%, 0) scale(6) !important;
    }

    .path9._biger {
        transform: translate3d(37%, 15%, 0) scale(5) !important;
    }

    .path10._biger {
        transform: translate3d(-7%, -15%, 0) scale(5) !important;
    }

    .path11._biger {
        transform: translate3d(-12%, -19%, 0) scale(5) !important;
    }

    .path12._biger {
        transform: translate3d(-35%, -46%, 0) scale(6.4) !important;
    }

    .path13._biger {
        transform: translate3d(10%, -18%, 0) scale(5.5) !important;
    }

    .path14._biger {
        transform: translate3d(18%, -14%, 0) scale(6) !important;
    }

    .path15._biger {
        transform: translate3d(35%, -5%, 0) scale(6) !important;
    }

    .path16._biger {
        transform: translate3d(30%, 7%, 0) scale(5) !important;
    }

    .path17._biger {
        transform: translate3d(32%, -5%, 0) scale(5.2) !important;
    }

    .path18._biger {
        transform: translate3d(10%, -13%, 0) scale(7) !important;
    }

    .path19._biger {
        transform: translate3d(26%, 36%, 0) scale(7) !important;
    }

    .path20._biger {
        transform: translate3d(29%, 22%, 0) scale(6.5) !important;
    }

    .path21._biger {
        transform: translate3d(24%, 12%, 0) scale(6.5) !important;
    }

    .path22._biger {
        transform: translate3d(24%, 9%, 0) scale(7) !important;
    }

    .path23._biger {
        transform: translate3d(8%, 0%, 0) scale(6) !important;
    }

    .path24._biger {
        transform: translate3d(14%, -30%, 0) scale(5.3) !important;
    }

    .path25._biger {
        transform: translate3d(19%, -23%, 0) scale(6.5) !important;
    }

    .path26._biger {
        transform: translate3d(43%, -5%, 0) scale(5) !important;
    }

    .path27._biger {
        transform: translate3d(16%, 18%, 0) scale(5) !important;
    }

    .path28._biger {
        transform: translate3d(33%, -7%, 0) scale(5) !important;
    }

    .path29._biger {
        transform: translate3d(41%, 6%, 0) scale(5) !important;
    }

    .path30._biger {
        transform: translate3d(-26%, -10%, 0) scale(5) !important;
    }

    .path31._biger {
        transform: translate3d(6%, 6%, 0) scale(5) !important;
    }

    .path32._biger {
        transform: translate3d(-16%, -20%, 0) scale(5) !important;
    }

    .path33._biger {
        transform: translate3d(-16%, -4%, 0) scale(5) !important;
    }

    .path34._biger {
        transform: translate3d(4%, -6%, 0) scale(5) !important;
    }

    .path35._biger {
        transform: translate3d(-34%, -23%, 0) scale(5) !important;
    }

    .path36._biger {
        transform: translate3d(-21%, 1%, 0) scale(5) !important;
    }

    .path37._biger {
        transform: translate3d(5%, -17%, 0) scale(5) !important;
    }

    .path38._biger {
        transform: translate3d(-12%, -13%, 0) scale(5) !important;
    }

    .path39._biger {
        transform: translate3d(-14%, -14%, 0) scale(5) !important;
    }

    .path40._biger {
        transform: translate3d(8%, -24%, 0) scale(5) !important;
    }

    .path41._biger {
        transform: translate3d(-20%, -28%, 0) scale(5) !important;
    }

    .path42._biger {
        transform: translate3d(36%, 33%, 0) scale(5) !important;
    }

    .path43._biger {
        transform: translate3d(22%, 24%, 0) scale(5) !important;
    }
}
