._dotted-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    h2 {
        margin-right: 22px;
    }
    span {
        border-bottom: 1px dashed #0079c2;
        display: block;
        flex: 1 1 auto;

        @media (max-width: 768px) {
            display: none;
        }
    }
}
.back {
    position: absolute;
    top: 16%;
    left: -85px;

    @media (max-width: 1690px) {
        left: -40px;
        top: 19%;
    }

    @media (max-width: 1096px) {
        display: none;
    }
    img {
        @include adaptive-value("width", 40, 30, 1);
        pointer-events: none;
    }
}

.rodnik-page{
    @media (max-width:1200px){
        pointer-events: none;
    }
}

.rodnik-main {
    margin-bottom: 104px;
    padding-bottom: 0;
    position: relative;

    &:before {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(0, 93, 149, 0.76), rgba(0, 93, 149, 0.76)), url(M0992955);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        z-index: 0;
    }

    // .rodnik-main__container

    &__container {
    }

    // .rodnik-main__body

    &__body {
        position: relative;
    }

    // .rodnik-main__title

    &__title {
        font-style: normal;
        font-weight: 400;
        line-height: 1.22em;
        color: #ffffff;
        @include adaptive-value("padding-top", 50, 43, 1);
        @include adaptive-value("font-size", 65, 36, 1);
        @include adaptive-value("margin-bottom", 76, 50, 1);

        mark {
            font-weight: 800;
            background-color: unset;
            color: inherit;
        }
    }

    // .rodnik-main__adress

    &__adress {
        background: #ffffff;
        backdrop-filter: blur(20px);
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-weight: 400;
        line-height: 1.2em;
        color: #003251;
        @include adaptive-value("padding-top", 15, 10, 1);
        @include adaptive-value("padding-bottom", 15, 10, 1);
        @include adaptive-value("padding-left", 25, 14, 1);
        @include adaptive-value("padding-right", 25, 14, 1);
        @include adaptive-value("border-radius", 15, 10, 1);
        @include adaptive-value("font-size", 20, 12, 1);
        @include adaptive-value("margin-bottom", 33, 15, 1);

        width: fit-content;

        img {
            margin-right: 10px;
        }

        mark {
            font-weight: 800;
            background-color: unset;
            color: #0079c2;
        }
    }

    // .rodnik-main__bottom

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        @include adaptive-value("padding-bottom", 312, 165, 1);
        @media (max-width: 660px) {
            flex-direction: column-reverse;
            align-items: flex-start;
        }
    }

    // .rodnik-main__desrc

    &__desrc {
        // .rodnik-main__desrc-time

        &-time {
            background: rgba(255, 255, 255, 0.2);
            backdrop-filter: blur(20px);
            font-weight: 400;
            line-height: 1.2em;
            color: #ffffff;
            @include adaptive-value("padding-top", 15, 10, 1);
            @include adaptive-value("padding-bottom", 15, 10, 1);
            @include adaptive-value("padding-left", 25, 14, 1);
            @include adaptive-value("padding-right", 25, 14, 1);
            @include adaptive-value("border-radius", 15, 10, 1);
            @include adaptive-value("font-size", 20, 12, 1);
            @include adaptive-value("margin-right", 36, 0, 1);
            width: max-content;
            flex: 0 0 auto;
            @media (max-width: 660px) {
                margin-top: 15px;
            }

            mark {
                font-weight: 600;
                background-color: unset;
                color: inherit;
            }
        }

        // .rodnik-main__desrc-descr

        &-descr {
            background: rgba(255, 255, 255, 0.2);
            backdrop-filter: blur(20px);
            font-weight: 400;
            line-height: 1.2em;
            color: #ffffff;
            @include adaptive-value("padding-top", 15, 10, 1);
            @include adaptive-value("padding-bottom", 15, 10, 1);
            @include adaptive-value("padding-left", 25, 14, 1);
            @include adaptive-value("padding-right", 25, 14, 1);
            @include adaptive-value("border-radius", 15, 10, 1);
            @include adaptive-value("font-size", 20, 12, 1);
        }
    }
}

.rodnik {
    &._margin-minus {
        @include adaptive-value("margin-bottom", -150, -170, 1);
    }
    &._margin-plus {
        @media (min-width: 1097px) {
            @include adaptive-value("margin-bottom", 100, 50, 1);
        }
        @media (max-width: 1096px) {
            @include adaptive-value("margin-bottom", -150, -170, 1);
        }
    }

    // .rodnik__container

    &__container {
        @media (max-width: 640px) {
            padding: 0 !important;
        }
    }

    // .rodnik__body

    &__body {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        @media (max-width: 1096px) {
            flex-direction: column;
            align-items: center;
            position: relative;
            @include adaptive-value("top", -278, -210, 1);
        }
    }

    // .rodnik__info

    &__info {
        position: relative;
        @include adaptive-value("top", -278, -210, 1);

        @media (max-width: 1096px) {
            top: 0 !important;
            @include adaptive-value("margin-bottom", 100, 50, 1);
        }

        background: #ffffff;
        box-shadow: 0px 0px 15px rgba(0, 51, 82, 0.12);
        @include adaptive-value("padding-top", 55, 20, 1);
        @include adaptive-value("padding-bottom", 35, 24, 1);
        @include adaptive-value("padding-left", 29, 23, 1);
        @include adaptive-value("padding-right", 65, 23, 1);
        @include adaptive-value("border-radius", 20, 15, 1);
        @include adaptive-value("margin-right", 100, 0, 1);

        max-width: 956px;
        width: 100%;

        @media (max-width: 992px) {
            max-width: none;
        }

        @media (max-width: 1096px) {
            margin-right: 0 !important;
        }
        & > :not(:last-child) {
            margin-bottom: 60px;
        }

        // .rodnik__info-item

        &-item {
            img,
            svg {
                @include adaptive-value("width", 44, 39, 1);
                @include adaptive-value("margin-right", 28, 17, 1);
            }

            // .rodnik__info-item-body

            &-body {
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
            }

            // .rodnik__info-item-content

            &-content {
                flex: 1 1 auto;
            }

            // .rodnik__info-item-title

            &-title {
                @include adaptive-value("margin-bottom", 33, 25, 1);

                h2 {
                    font-style: normal;
                    font-weight: 600;
                    @include adaptive-value("font-size", 36, 24, 1);
                    line-height: 1.18em;
                }
            }

            // .rodnik__info-item-title hidden

            

            // .rodnik__info-item-text

            &-text {
                font-style: normal;
                font-weight: 400;
                @include adaptive-value("font-size", 18, 12, 1);
                line-height: 1.18em;
                color: #003251;
                ol,
                li,
                span {
                    color: inherit;
                    font-size: inherit;
                    font-weight: inherit;
                    line-height: inherit;
                }

                @media (max-width: 768px) {
                    @include adaptive-value("margin-left", -65, -50, 1);
                }
            }

            // .rodnik__info-item-coords

            &-coords {
                display: block;
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 1.18em;
                color: #ffffff;
                background-color: #0079c2;
                border-radius: 10px;
                padding: 4px 15px;
                @include adaptive-value("margin-top", 30, 19, 1);
                @media (max-width: 768px) {
                    @include adaptive-value("margin-left", -65, -50, 1);
                }
            }
        }
    }

    // .rodnik__gallery

    &__gallery {
        display: flex;
        flex-direction: column;
        position: relative;
        @media (max-width: 1096px) {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }

        @media (max-width: 640px) {
            padding: 0 23px;
            flex-wrap: nowrap;

            & > :last-child {
                visibility: hidden;
                opacity: 0;
                position: absolute;
            }
        }

        & > :not(:last-child) {
            @include adaptive-value("margin-bottom", 107, 0, 1);
            @media (max-width: 1096px) {
                @include adaptive-value("margin-bottom", 10, 3, 1);
                @include adaptive-value("margin-right", 10, 3, 1);
            }
        }

        a {
            @include adaptive-value("border-radius", 15, 5, 1);
            overflow: hidden;
            display: block;
            @include adaptive-value("width", 416, 160, 1);
            @include adaptive-value("height", 270, 105, 1);

            @media (max-width: 374px) {
                max-width: 50%;
                height: 90px;
            }
        }

        img {
            display: block;
            width: 100%;
            height: 100%;
        }

        div {
            @include adaptive-value("width", 416, 160, 1);
            @include adaptive-value("border-radius", 15, 5, 1);
            overflow: hidden;
            border: 1px dashed #0079c2;
            background-color: #fff;
            max-height: 270px;
            @include adaptive-value("height", 270, 105, 1);

            @media (max-width: 374px) {
                width: 50%;
                height: 90px;
            }

            img {
                position: relative;
                z-index: -2;
            }
        }
    }
}

.feedback {
    // .feedback-slide

    &-slide {
    }

    // .feedback__container

    &__container {
    }

    // .feedback__body

    &__body {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        @media (max-width: 1096px) {
            display: block;
        }
    }

    // .feedback__slider

    &__slider {
        @include adaptive-value("margin-right", 107, -100, 1);

        @media (max-width: 1096px) {
            margin-right: 0 !important;
            margin-bottom: 55px;
        }

        // .feedback__slider-title

        &-title {
            font-style: normal;
            font-weight: 600;
            @include adaptive-value("font-size", 42, 28, 1);
            line-height: 1.18em;
            color: #0079c2;
            @include adaptive-value("margin-bottom", 47, 20, 1);
        }

        // .feedback__slider-body

        &-body {
            // display: flex;
            // align-items: center;
            // justify-content: center;
            // margin-left: -58.5px;

            // min-height: 0;
            // min-width: 0;

            @media (max-width: 1096px) {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }

        // .feedback__slider-next

        &-controlls {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            @media (max-width: 1096px) {
                justify-content: center;
            }
        }

        // .feedback__slider-pagination

        &-pagination {
            width: fit-content !important;
            display: flex;
            justify-content: center;
            align-items: center;
            position: static !important;
            transform: none !important;
            margin: 0 26px;
            height: 48px;
            & > :not(:last-child) {
                margin-right: 12px !important;
            }

            span {
                display: block;
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 1.2em;
                height: fit-content;
                color: #0079c2 !important;
                background: none !important;
                position: static !important;
                transform: scale(1) !important;
                opacity: 1 !important;
                margin: 0 !important;
                width: auto;
                width: 18px;
                text-align: center;
                &:before {
                    position: absolute;
                    content: "";
                    left: 0;
                    bottom: 0;
                    background-color: currentColor;
                    width: 100%;
                    height: 2px;
                    opacity: 0;
                }

                &.swiper-pagination-bullet-active {
                    &:before {
                        opacity: 1;
                    }
                }
            }
        }

        // .feedback__slider-prev

        &-prev {
            cursor: pointer;
            flex-grow: 0;
            flex-shrink: 0;
            width: 48px;
            @include adaptive-value("width", 48, 38, 1);
            @include adaptive-value("height", 48, 38, 1);
            @include adaptive-value("flex-basis", 48, 38, 1);

            height: 48px;
            background: #ffffff;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 4px 0 0;
            img,
            svg {
                pointer-events: none;
                @include adaptive-value("width", 16.5, 11, 1);
            }
        }

        // .feedback__slider-next

        &-next {
            cursor: pointer;
            flex-grow: 0;
            flex-shrink: 0;
            width: 48px;
            @include adaptive-value("width", 48, 38, 1);
            @include adaptive-value("height", 48, 38, 1);
            @include adaptive-value("flex-basis", 48, 38, 1);
            background: #ffffff;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            border-radius: 50%;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            img,
            svg {
                margin: 0 0 0 4px;
                @include adaptive-value("width", 16.5, 11, 1);
                pointer-events: none;
                transform: rotate(180deg);
            }
        }

        // .feedback__slider-slider

        &-slider {
            margin-bottom: 24px;
            margin-left: -10px;
            margin-right: -10px;
            margin-top: -10px;
            padding: 10px;

            @media (min-width: 1097px) {
                @include adaptive-value("max-width", 694, 110, 1);
            }

            @media (max-width: 1096px) {
                max-width: 664px !important;
                width: 100%;
                @media (max-width: 700px) {
                    max-width: none;
                }
            }
        }

        // .feedback__slider-wrapper

        &-wrapper {
        }

        // .feedback__slider-slide

        &-slide {
        }
    }

    // .feedback slide

    .slide {
        & > :not(:last-child) {
            @include adaptive-value("margin-bottom", 25, 10, 1);
        }
    }

    // .feedback__form

    &__form {
        // .feedback__form-title

        &-title {
            font-style: normal;
            font-weight: 600;
            @include adaptive-value("font-size", 42, 28, 1);

            line-height: 1.18em;
            color: #0079c2;
            @include adaptive-value("margin-bottom", 47, 13, 1);
        }
    }
}

.feedback {
    // .feedback__slider

    &__slider {
        // .feedback__slider-empty

        &-empty {
            @media (min-width: 1097px) {
                @include adaptive-value("width", 694, 110, 1);
            }

            @media (max-width: 1096px) {
                max-width: 664px;
                margin-left: auto;
                margin-right: auto;
                width: 100%;
            }

            @media (max-width: 700px) {
                max-width: none;
            }

            hr {
                border: 1px solid rgba(0, 121, 194, 0.2);

                &.hr-1 {
                    width: 67px;
                }
                &.hr-2 {
                    width: 100%;
                    margin-bottom: 17px;
                }
                &.hr-3 {
                    width: 100%;
                    margin-bottom: 20px;
                }
                &.hr-4 {
                    width: 76%;
                }
            }

            // .feedback__slider-empty-top

            &-top {
                @include adaptive-value("padding-top", 15, 10, 1);
                @include adaptive-value("padding-bottom", 15, 10, 1);
                @include adaptive-value("padding-left", 23, 20, 1);
                @include adaptive-value("padding-right", 23, 20, 1);
                @include adaptive-value("font-size", 18, 13, 1);
                background-color: #ffffff;
                box-shadow: 0px 4px 9px rgba(0, 87, 145, 0.15);
                border-radius: 10px;
                font-style: normal;
                font-weight: 400;
                line-height: 1.22em;
                color: #0079c2;
                @include adaptive-value("margin-bottom", 12, 10, 1);
            }

            // .feedback__slider-empty-body

            &-body {
                background-color: #ffffff;
                box-shadow: 0px 4px 9px rgba(0, 87, 145, 0.15);
                border-radius: 10px;
                padding-top: 16px;
                @include adaptive-value("padding-left", 32, 21, 1);
                @include adaptive-value("padding-right", 32, 21, 1);
                @include adaptive-value("padding-bottom", 36, 21, 1);

                span {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    @include adaptive-value("margin-bottom", 46, 30, 1);
                }
            }
        }
    }
}

.feedback-slide {
    &__body {
        background-color: #ffffff;
        box-shadow: 0px 4px 9px rgba(0, 87, 145, 0.15);
        border-radius: 10px;
        padding-top: 14px;
        @include adaptive-value("padding-right", 32, 22, 1);
        @include adaptive-value("padding-bottom", 27, 17, 1);
        @include adaptive-value("padding-left", 29, 20, 1);
    }

    // .feedback-slidee__top

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include adaptive-value("margin-bottom", 10, 5, 1);
    }

    // .feedback-slide__date

    &__date {
        font-style: normal;
        font-weight: 400;
        @include adaptive-value("font-size", 14, 10, 1);
        line-height: 1.2em;
        color: #bdbfc1;
    }

    // .feedback-slide__rate

    &__rate {
        img {
        }
    }

    // .feedback-slide__title

    &__title {
        font-style: normal;
        font-weight: 600;
        line-height: 1.22em;
        color: #0079c2;
        margin-bottom: 10px;
        @include adaptive-value("font-size", 24, 18, 1);
    }

    // .feedback-slide__descr

    &__descr {
        font-style: normal;
        font-weight: 400;
        @include adaptive-value("font-size", 16, 10, 1);
        line-height: 1.2em;
        color: #003251;
    }
}

.swiper-grid-column > .swiper-wrapper {
    flex-direction: unset;
}

.swiper-slide {
    width: auto;
}

/* feeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeed*/

.feedback__form {
    max-width: 664px;
    width: 100%;
}

.feedback__form-body {
    max-width: 664px;
    width: 100%;
}

@media (max-width: 992px) {
    .feedback__slider {
        z-index: 0;
    }
}

@media (max-width: 1096px) {
    .feedback__form {
        max-width: none;
    }
}

.form__button {
    background-color: #0079c2;
    border-radius: 10px;
    display: block;
    font-style: normal;
    font-weight: 600;
    @include adaptive-value("font-size", 24, 14, 1);
    line-height: 1.2em;
    text-align: center;
    padding: 12px 0;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 355px) {
        font-size: 12.8px;
    }
}

.form__button svg {
    @include adaptive-value("margin-left", 15, 10, 1);
    @include adaptive-value("margin-right", 15, 10, 1);
    @include adaptive-value("width", 32, 24, 1);

    @media (max-width: 355px) {
        width: 20px;
        margin-left: 5px;
        margin-right: 5px;
    }
}

.score_wrapper {
    svg {
        @include adaptive-value("width", 27, 17, 1);
    }
}

.feedback__form-top,
.feedback__form-bottom {
    @include adaptive-value("margin-bottom", 25, 10, 1);
    background-color: #ffffff;
    box-shadow: 0px 4px 9px rgba(0, 87, 145, 0.15);
    border-radius: 10px;
}

.feedback__form-bottom textarea {
    min-height: 263px;
}

.feedback__form-bottom textarea {
    padding-top: 18px;
    padding-bottom: 18px;
    @include adaptive-value("padding-left", 23, 18, 1);
    @include adaptive-value("padding-right", 23, 18, 1);
    font-style: normal;
    font-weight: 400;
    @include adaptive-value("font-size", 18, 14, 1);
    line-height: 1.22em;
    color: #0079c2;
    resize: none;
}

.feedback__form-bottom {
    overflow: hidden;
}

.feedback__form-bottom textarea::placeholder {
    color: #0079c2;
}

.feedback__form-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include adaptive-value("padding-top", 13, 9, 1);
    @include adaptive-value("padding-bottom", 13, 9, 1);
    @include adaptive-value("padding-right", 23, 11, 1);
    @include adaptive-value("padding-left", 23, 11, 1);
}

.feedback__form-overall_score,
.feedback__form-user_score {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.feedback__form-overall_score span {
    margin-right: 5px;
}

.feedback__form-overall_score span,
.feedback__form-user_score span,
.feedback__form-overall_score input,
.feedback__form-user_score input {
    font-style: normal;
    font-weight: 400;
    @include adaptive-value("font-size", 18, 14, 1);
    line-height: 1.22em;
    color: #0079c2;
}

.feedback__form-overall_score input {
    margin-left: 10px;
    border: 1px solid rgba(0, 140, 225, 0.1);
    border-radius: 5px;
    pointer-events: none;
    width: 100px;
    text-align: center;
    padding: 5px 0;
}

.feedback__form-user_score input {
    border: 1px solid rgba(0, 140, 225, 0.1);
    border-radius: 5px;
    pointer-events: none;
    width: 100px;
    text-align: center;
    padding: 5px 0;
}

.feedback__form-score_wrapper {
    @include adaptive-value("margin-left", 21, 5, 1);
}

.user_score_hidden,
.user_score_output {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    z-index: -50;
    width: 0;
    height: 0;
}

.feedback-slide__rate img {
    max-width: 72px;
}

@media (max-width: 1096px) {
    .feedback__form-body {
        margin-left: auto;
        margin-right: auto;
    }
}

.feedback__form-overall_score input {
    position: absolute;
    width: 0;
    visibility: hidden;
    pointer-events: none;
}

.feedback__form-top {
    flex-wrap: wrap;
}

.feedback__form-score_wrapper {
    display: flex;
    align-items: center;
    & > :not(:last-child) {
        margin-right: 3px;
    }
}

.form__privacy {
    margin-top: 10px;
    @include adaptive-value("font-size", 14, 10, 1);
    line-height: 1.22;
    font-weight: 400;
    color: #0079c2;

    a {
        text-decoration: underline;
        color: inherit;
    }
}

.form__output {
    position: absolute;
    z-index: 150;
    bottom: -100px;
    right: 0;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease 0s;

    &._open {
        visibility: visible;
        opacity: 1;
        bottom: 0;
        position: relative;
    }

    // &-overlay {
    //     position: absolute;
    //     left: 0;
    //     top: 0;
    //     width: 100%;
    //     height: 100%;
    //     background-color: rgba(0, 0, 0, 0.5);
    //     z-index: 0;
    //     cursor: pointer;
    // }

    // .form__output-body

    &-body {
        position: relative;
        z-index: 1;
    }

    // .form__output-close

    &-close {
        display: block;
        margin-bottom: 15px;
        margin-right: auto;
        transition: all 0.3s ease 0s;
        box-shadow: 0px 4px 9px rgba(0, 87, 145, 0.15);
        background-color: #ffffff;
        padding: 2px;
        border-radius: 3px;

        img,
        svg {
            pointer-events: none;
            display: block;
            stroke: #0079c2;
        }

        @media (any-hover: hover) {
            &:hover {
                transform: rotate(180deg);
            }
        }
    }

    // .form__output-content

    &-content {
        background-color: #ffffff;
        box-shadow: 0px 4px 9px rgba(0, 87, 145, 0.15);
        border-radius: 10px;
        width: 257px;
        font-style: normal;
        font-weight: 600;
        @include adaptive-value("font-size", 18, 16, 1);
        line-height: 1.22em;
        text-align: center;
        color: #00426a;
        padding: 32px 15px;
        position: relative;

        span {
            background-color: #ffffff;
            box-shadow: 0px 2.98039px 6.70589px rgba(0, 87, 145, 0.15);
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: -24px;
            left: 50%;
            transform: translate(-50%, 0);
            border-radius: 50%;
            width: 48px;
            height: 48px;
        }
    }
}

.form__error-container {
    position: fixed;
    @include adaptive-value("right", 25, 15, 1);
    bottom: 15px;
    display: flex;
    z-index: 10;
    flex-direction: column;
    & > :last-child {
        margin-top: 20px;
    }
}

.breadcamps {
    margin-top: 60px;

    display: none;

    @media (max-width: 1096px) {
        display: block;
    }

    ol {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        counter-reset: bread-number;
        flex-wrap: wrap;
    }

    li {
        font-weight: 400;
        @include adaptive-value("font-size", 24, 12, 1);
        line-height: 1.2em;
        color: #ffffff;
        position: relative;

        display: flex;
        align-items: center;
        &:before {
            counter-increment: bread-number;
            content: counter(bread-number) ". ";
            padding-right: 5px;
        }

        a {
            color: inherit;
            display: flex;
            align-items: center;

            span,
            img {
                pointer-events: none;
            }

            span {
                display: flex;
                align-items: center;
                justify-content: center;
                @include adaptive-value("width", 38, 16, 1);
                @include adaptive-value("height", 38, 16, 1);
                @include adaptive-value("flex-basis", 38, 16, 1);
                flex-grow: 0;
                flex-shrink: 0;
                background-color: #fff;
                border-radius: 50%;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
                @include adaptive-value("margin-left", 25, 9, 1);
                @include adaptive-value("margin-right", 25, 9, 1);

                cursor: pointer;

                img {
                    @include adaptive-value("width", 12, 5, 1);
                }
            }
        }
    }

    // .breadcamps__back

    &__back {
        // .breadcamps__back-btn

        &-btn {
            // display: flex;
            // align-items: center;
            // justify-content: center;
            // @include adaptive-value("width", 38, 16, 1);
            // @include adaptive-value("height", 38, 16, 1);
            // @include adaptive-value("flex-basis", 38, 16, 1);
            // flex-grow: 0;
            // flex-shrink: 0;
            // background-color: #fff;
            // border-radius: 50%;
            // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            // @include adaptive-value("margin-left", 25, 9, 1);
            // @include adaptive-value("margin-right", 25, 9, 1);

            // cursor: pointer;

            // img {
            //     @include adaptive-value("width", 12, 5, 1);
            //     pointer-events: none;
            // }
        }

        // .breadcamps__current

        &__current {
        }
    }
}

.swiper-pagination-bullet:only-child {
    display: block !important;
}

@media (max-width: 360px) {
    .rodnik__info {
        padding-left: 17px;
    }
}
