/* scale(4) */
.path1._biger {
    transform: translate(-26%, -26%) scale(4) !important;
}

.path2._biger {
    transform: translate(34%, 31%) scale(4) !important;
}

.path3._biger {
    transform: translate(32%, 43%) scale(4) !important;
}

.path4._biger {
    transform: translate(-11%, -27%) scale(4) !important;
}

.path5._biger {
    transform: translate(36%, 12%) scale(4) !important;
}

.path6._biger {
    transform: translate(34%, -3%) scale(4) !important;
}

.path7._biger {
    transform: translate(30%, 14%) scale(4) !important;
}

.path8._biger {
    transform: translate(25%, 24%) scale(4) !important;
}

.path9._biger {
    transform: translate(36%, 9%) scale(4) !important;
}

.path10._biger {
    transform: translate(-13%, -27%) scale(4) !important;
}

.path11._biger {
    transform: translate(-19%, -31%) scale(4) !important;
}

.path12._biger {
    transform: translate(-34%, -35%) scale(4) !important;
}

.path13._biger {
    transform: translate(10%, -21%) scale(4) !important;
}

.path14._biger {
    transform: translate(18%, -12%) scale(4) !important;
}

.path15._biger {
    transform: translate(27%, -1%) scale(4) !important;
}

.path16._biger {
    transform: translate(28%, -1%) scale(4) !important;
}

.path17._biger {
    transform: translate(23%, -8%) scale(4) !important;
}

.path18._biger {
    transform: translate(9%, -10%) scale(4) !important;
}

.path19._biger {
    /* transform: translate(24%, 32%)  scale(4)!important; */
    transform: translate(31%, 41%) scale(6) !important;
}

.path20._biger {
    transform: translate(16%, 5%) scale(4) !important;
}

.path21._biger {
    transform: translate(17%, 5%) scale(4) !important;
}

.path22._biger {
    transform: translate(25%, 10%) scale(4) !important;
}

.path23._biger {
    transform: translate(9%, -1%) scale(4) !important;
}

.path24._biger {
    transform: translate(13%, -35%) scale(4) !important;
}

.path25._biger {
    transform: translate(22%, -25%) scale(4) !important;
}

.path26._biger {
    transform: translate(42%, -16%) scale(4) !important;
}

.path27._biger {
    transform: translate(13%, 12%) scale(4) !important;
}

.path28._biger {
    transform: translate(31%, -17%) scale(4) !important;
}

.path29._biger {
    transform: translate(40%, -2%) scale(4) !important;
}

.path30._biger {
    transform: translate(-35%, -22%) scale(4) !important;
}

.path31._biger {
    transform: translate(1%, -2%) scale(4) !important;
}

.path32._biger {
    transform: translate(-22%, -32%) scale(4) !important;
}

.path34._biger {
    transform: translate(-1%, -16%) scale(4) !important;
}

.path33._biger {
    transform: translate(-23%, -13%) scale(4) !important;
}

.path36._biger {
    transform: translate(-29%, -8%) scale(4) !important;
}

.path35._biger {
    transform: translate(-43%, -36%) scale(4) !important;
}

.path37._biger {
    transform: translate(0%, -29%) scale(4) !important;
}

.path38._biger {
    transform: translate(-19%, -25%) scale(4) !important;
}

.path39._biger {
    transform: translate(-21%, -25%) scale(4) !important;
}

.path40._biger {
    transform: translate(4%, -39%) scale(4) !important;
}

.path41._biger {
    transform: translate(-29%, -42%) scale(4) !important;
}

.path42._biger {
    transform: translate(35%, 31%) scale(4) !important;
}

.path43._biger {
    transform: translate(19%, 20%) scale(4) !important;
}
