@font-face {
	font-family: proximanova;
	font-display: swap;
	src: url("../fonts/proximanova.woff2") format("woff2"), url("../fonts/proximanova.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
