.map {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    // @include adaptive-value("min-height", 925, 314, 1);
    // @include adaptive-value("padding-bottom", 144, 77, 1);
    padding-bottom: 60;
    @include adaptive-value("margin-bottom", 116, 52, 1);
    @include adaptive-value("min-height", 865, 314, 1);


    @media (max-width: 992px) {
        z-index: 0;
    }

    &:before {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: rgba(255, 255, 255, 0.06);
        backdrop-filter: blur(100px);
        border-radius: 0px;
        z-index: 0;
    }

    // .map__container

    &__container {
    }

    // .map__body

    &__body {
        @media (max-width: 1200px) {
            overflow: hidden;
            padding-bottom: 85px;
        }
    }

    // .map__top

    &__top {
    }

    // .map__box

    &__box {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    // .map__maps

    &__maps {
    }

    // .map__content

    &__content {
        overflow: hidden;
        @media (max-width: 1200px) {
            overflow: unset;
            z-index: 50;
        }
    }

    // .map__bredcamps

    &__bredcamps {
        @include adaptive-value("padding-top", 52, 24, 1);
        display: flex;
        align-items: center;
        justify-content: flex-start;
        counter-reset: bread-number;

        &-img {
            @include adaptive-value("width", 38, 16, 1);
            @include adaptive-value("height", 38, 16, 1);
            @include adaptive-value("flex-basis", 38, 16, 1);

            background-color: #fff;
            border-radius: 50%;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            @include adaptive-value("margin-left", 25, 9, 1);
            @include adaptive-value("margin-right", 25, 9, 1);

            cursor: pointer;

            img {
                @include adaptive-value("width", 12, 5, 1);
                pointer-events: none;
                margin: 2px 2px 0 0;
            }
        }

        li {
            font-weight: 400;
            @include adaptive-value("font-size", 24, 12, 1);

            line-height: 1.2em;
            color: #ffffff;
            position: relative;

            display: flex;
            align-items: center;

            &:before {
                counter-increment: bread-number;
                content: counter(bread-number) ".";
                padding-right: 5px;
            }
        }
    }

    // .map__regions

    &__regions {
        position: absolute;
        right: -100%;
        visibility: hidden;
        opacity: 0;
        transition: all 1.2s ease 0s;

        .__select {
            display: none;

            @media (max-width: 1200px) {
                display: block;
            }
        }

        &._active {
            position: relative;
            right: 0;
            visibility: visible;
            opacity: 1;
        }

        padding-top: 38px;

        // .map__regions-title

        &-title {
            font-style: normal;
            font-weight: 600;
            @include adaptive-value("font-size", 36, 28, 1);
            @include adaptive-value("margin-bottom", 30, 18, 1);
            line-height: 1.22em;
            color: #ffffff;
        }

        // .map__regions-selected

        &-selected {
            background-color: #ffffff;
            border: 1px dashed #ffffff;
            backdrop-filter: blur(20px);
            border-radius: 15px;
            font-weight: 600;
            font-size: 18px;
            line-height: 1.18em;
            color: #00426a;
            padding: 0 15px 0 27px;
            max-width: 410px;
            margin-bottom: 0;
            display: flex;
            align-items: center;
            transition: all 0.3s ease 0s;
            height: 53px;
            margin-bottom: 40px;

            @media (max-width: 1200px) {
                display: none;
            }
        }

        // .map__regions-select

        &-select {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            max-width: 505px;

            @media (max-width: 1440px) {
                grid-template-columns: repeat(2, 1fr);
                max-height: 50vh;
                overflow-y: auto;
                overflow-x: hidden;

                &::-webkit-scrollbar {
                    width: 2px;
                }

                &::-webkit-scrollbar-track {
                    background-color: rgb(199, 199, 199);
                    border-radius: 100px;
                }

                &::-webkit-scrollbar-thumb {
                    box-shadow: inset 2px 2px 5px 0 #0079c2;
                }
            }

            @media (max-width: 1200px) {
                display: none;
            }

            button {
                z-index: 3;
                display: block;
                width: 153px;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 1.18em;
                text-align: center;
                color: #ffffff;
                padding: 7px 0 6px 0;
                background: rgba(255, 255, 255, 0.25);
                border-radius: 8px;
                margin-bottom: 11px;
                // margin-right: 23px;
                margin-right: 15px;

                // &:nth-child(3n),
                // &:nth-of-type(3n) {
                //     margin-right: 0;
                // }
            }
        }
    }

    // .map__rodniki

    &__rodniki {
        counter-reset: rosnik-count;
        padding-top: 38px;
        position: absolute;
        right: -100%;
        visibility: hidden;
        opacity: 0;
        transition: all 1.2s ease 0s;

        @media (min-width:1201px){
            z-index: 3;
        }

        &._active {
            position: relative;
            right: 0;
            visibility: visible;
            opacity: 1;

            min-height: 760px;

            @media (max-width: 1200px) {
                min-height: unset;
            }
        }

        // .map__rodniki-title

        &-title {
            font-style: normal;
            font-weight: 600;
            @include adaptive-value("font-size", 36, 28, 1);
            @include adaptive-value("margin-bottom", 40, 18, 1);
            line-height: 1.18em;
            color: #ffffff;
        }

        // .map__rodniki-selected

        &-selected {
            background-color: #ffffff;
            border: 1px dashed #ffffff;
            backdrop-filter: blur(20px);
            border-radius: 15px;
            font-weight: 600;
            font-size: 18px;
            line-height: 1.18em;
            color: #00426a;
            padding: 16px 15px 15px 27px;
            margin-bottom: 40px;
            max-width: 410px;
            width: 100%;
        }

        // .map__rodniki-body

        &-body {
            max-width: 522px;
            // width: 100%;
            @include adaptive-value("width", 522, 0, 1);

            position: relative;
            overflow: hidden;

            @media (max-width: 1200px) {
                position: absolute;
                visibility: hidden;
                opacity: 0;
                pointer-events: none;
                z-index: -1;
                width: 0;
                height: 0;
            }
        }

        // .map__rodniki-items

        &-items {
            position: absolute;
            left: 100%;
            visibility: hidden;
            opacity: 0;
            top: 0;
            transition: all 0.7s ease 0s;
            width: 100%;

            &._visible {
                position: relative;
                left: 0;
                visibility: visible;
                opacity: 1;
            }

            &._slide-left {
                left: -100%;
                visibility: hidden;
                opacity: 0;
            }
        }

        // .map__rodniki-select

        &-select {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-top: 25px;

            display: none;

            @media (max-width: 1200px) {
                display: none !important;
            }

            button {
                width: 38px;
                height: 38px;
                background-color: #ffffff;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
                border-radius: 44px;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    width: 12px;
                    pointer-events: none;
                }
            }

            // .map__rodniki-select-prev

            &-prev {
                img {
                    margin: 2px 4px 0 0;
                }
            }

            // .map__rodniki-select-pages

            &-pages {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                margin: 0 26px;

                span {
                    content: "";
                    width: 15px;
                    height: 2px;
                    background-color: #fff;
                    bottom: 0;
                    left: 5px;
                    transition: all 0.3s ease 0s;
                    position: absolute;
                }

                input {
                    display: block;
                    width: 25px;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 1.18em;
                    color: #ffffff;
                    text-align: center;
                    cursor: pointer;
                    transition: all 0.3s ease 0s;

                    @media (any-hover: hover) {
                        &:hover {
                            color: #0079c2;
                        }
                    }

                    &._active {
                        text-decoration: underline;
                    }
                }
            }

            // .map__rodniki-select-next

            &-next {
                img {
                    transform: rotate(180deg);
                    margin: 2px 0 0 4px;
                }
            }
        }
    }

    // .map__next

    &__next {
        display: none;

        @media (max-width: 1200px) {
            &._active {
                display: block;
            }
        }

        .rodniki__item {
            @include adaptive-value("margin-top", 30, 18, 1);
        }

        // .map__next-link

        &-link {
            background: #0079c2;
            backdrop-filter: blur(20px);
            border-radius: 10px;
            font-weight: 600;
            font-size: 18px;
            line-height: 1.18em;
            text-align: center;
            color: #ffffff;
            width: 100%;
            max-width: 410px;
            @include adaptive-value("padding-top", 16, 11, 1);
            @include adaptive-value("padding-bottom", 16, 11, 1);
            margin: 0 auto;
            display: block;
            @media (max-width: 540px) {
                max-width: none;
            }
        }
    }
}

.map__norodnik {
    @include adaptive-value("padding-top", 350, 40, 1);
    @media (max-width: 1200px) {
        padding-top: 40px !important;
        margin-bottom: 40px;
    }
    font-style: normal;
    font-weight: 600;
    @include adaptive-value("font-size", 36, 28, 1);
    line-height: 1.22em;
    color: #ffffff;
    display: none;
    transition: all 1.2s ease 0s;
    &._active {
        display: block;
    }
}

.map__next-btn {
    background: #0079c2;
    backdrop-filter: blur(20px);
    border-radius: 10px;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.18em;
    text-align: center;
    color: #ffffff;
    width: 100%;
    max-width: 410px;
    @include adaptive-value("padding-top", 16, 11, 1);
    @include adaptive-value("padding-bottom", 16, 11, 1);

    margin: 0 auto;

    @media (max-width: 540px) {
        max-width: none;
    }

    display: none;

    @media (max-width: 1200px) {
        &._active {
            display: block;
        }
    }
}

.rodniki {
    // .rodniki__item

    &__item {
        @include adaptive-value("border-radius", 15, 10, 1);
        @include adaptive-value("padding-top", 20, 14, 1);
        @include adaptive-value("padding-bottom", 20, 14, 1);
        @include adaptive-value("padding-left", 27, 20, 1);
        @include adaptive-value("padding-right", 27, 20, 1);
        @include adaptive-value("margin-bottom", 15, 18, 1);
        z-index: 3;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: all 0.3s ease 0s;

        border: 1px solid rgba(255, 255, 255, 0.2);

        @media (any-hover: hover) {
            &:hover {
                background-color: rgba(0, 121, 194, 0.8);
                border: 1px solid rgba(0, 121, 194, 0.8);

                img {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }

        // .rodniki__item-info

        &-info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        // .rodniki__item-title

        &-title {
            font-style: normal;
            font-weight: 600;
            @include adaptive-value("font-size", 20, 14, 1);
            line-height: 1.2em;
            color: #ffffff;
            margin-bottom: 22px;
            &:before {
                counter-increment: rosnik-count; /* Инкрементирует счётчик*/
                content: counter(rosnik-count) ". ";
            }
        }

        // .rodniki__item-descr

        &-descr {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 1.2em;
            color: #ffffff;
        }

        img {
            width: 44px;
            flex: 0 0 44px;
            display: block;
            grid-row: span 2;
            grid-row-start: 1;
            grid-column-start: 2;
            visibility: hidden;
            opacity: 0;
            transition: all 0.3s ease 0s;

            @media (max-width: 1200px) {
                visibility: visible;
                opacity: 1;
            }
        }
    }
}

[class*="copyrights-pane"] {
    display: none !important;
}

[class*="ground-pane"] {
    filter: grayscale(1);
}

#map-test > ymaps {
}

.ymaps-2-1-79-map {
    position: unset;
    width: 100% !important;
}

.ymaps-2-1-79-inner-panes,
.ymaps-2-1-79-map {
    height: 100% !important;
}

.icon {
    position: absolute;
    width: 40px;
    z-index: 100;
}

.map__maps {
    position: absolute;
    @media (max-width: 1200px) {
        position: relative;
    }
}

.map__box {
    @media (max-width: 1200px) {
        flex-direction: column-reverse;
        margin-bottom: 18px;
    }
}

.map__content {
    display: flex;
    justify-content: flex-end;
    width: 100%;

    @media (max-width: 1200px) {
        display: block;
        left: 0;
    }
}

.svg__parent {
    z-index: 1;
    margin-left: -88px;
    max-width: 1050px;
    max-height: 650px;

    @include adaptive-value("margin-top", 60, -120, 1);

    @media (max-width: 1700px) {
        margin-left: 0;
    }
    @media (max-width: 1200px) {
        margin-top: 0 !important;
        max-width: none;
        // max-height: none;
    }
}

#map-test {
    position: absolute;
    left: -88px;
    top: 204px;
    width: calc(100% + 88px);
    height: 100%;
    max-height: 650px;
    visibility: hidden;
    opacity: 0;

    @include adaptive-value("top", 204, -300, 1);

    @media (max-width: 1700px) {
        left: 0;
        width: 100%;
    }
    @media (max-width: 1200px) {
        top: 0 !important;
    }
}

.svg,
.svg2 {
    background-color: rgba(13, 24, 87, 0);
    fill-opacity: 1;
    opacity: 1;
    max-height: 650px;
    @media (max-width: 1700px) {
        width: 90%;
    }
    @media (max-width: 1290px) {
        width: 80%;
    }
    @media (max-width: 1200px) {
        width: 100%;
    }

    @media (max-width: 1200px) {
        height: 550px;
    }

    @media (max-width: 768px) {
        height: 500px;
    }

    @media (max-width: 640px) {
        height: 400px;
    }

    @media (max-width: 475px) {
        height: 320px;
    }
}

.map__regions .select {
    display: none;
    @media (max-width: 1200px) {
        display: block;
    }
}

.map__maps {
    @media (max-width: 1200px) {
        margin: 0 auto;
    }
}

.mini-icon {
    z-index: 650;
    position: absolute;
    @include adaptive-value("width", 50, 25, 1);
    cursor: pointer;
    transition: all 0.3s ease 0s;

    @media (any-hover: hover) {
        &:hover {
            z-index: 651;
        }
    }

    &._hovered {
        z-index: 651;
        .mini-rect {
            fill: #fff;
        }

        .mini-path {
            fill: #0079c2;
        }
    }

    &-r {
        z-index: 650;
        pointer-events: none;
        position: absolute;
        // width: 10px;
        @include adaptive-value("width", 15, 10, 1);

        transition: all 0.3s ease 0s;

        &._hidden {
            visibility: hidden;
            opacity: 0;
        }

        .mini-rect {
            fill: #fff;
        }

        .mini-path {
            fill: #0079c2;
        }
    }
}

.select {
    position: relative;
    display: flex;

    background-color: #ffffff;
    border: 1px dashed #ffffff;
    backdrop-filter: blur(20px);
    border-radius: 15px;
    font-weight: 600;
    @include adaptive-value("font-size", 18, 14, 1);

    line-height: 1.18em;
    color: #00426a;
    padding-right: 15px;
    margin-bottom: 40px;
    max-width: 410px;
    width: 100%;

    @media (max-width: 768px) {
        margin-bottom: 18px;
    }

    @media (max-width: 540px) {
        max-width: none;
    }

    z-index: 4;

    &[data-state="active"] {
        .select__title {
            &::before {
                transform: translate(-3px, -50%) rotate(-45deg);
            }

            &::after {
                transform: translate(3px, -50%) rotate(45deg);
            }
        }
        .select__label {
            max-height: 53px;
            pointer-events: all;

            &::before {
                opacity: 1;
            }
        }
        // top убираю оставляю цвет фона здесь или делаю как ран\ше
        .select__content {
            background-color: #fff;
        }

        .select__content-body,
        .sselect__content-body {
            max-height: 400px;
            overflow-y: auto;

            @media (max-width: 768px) {
                max-height: 330px;
            }
            @media (max-width: 500px) {
                max-height: 295px;
            }
        }
    }

    &__title {
        display: flex;
        align-items: center;
        width: 100%;
        @include adaptive-value("height", 53, 43, 1);
        padding: 0 0 0 16px;

        cursor: pointer;

        z-index: 2;

        &::before,
        &::after {
            content: "";

            position: absolute;
            top: 50%;
            right: 0;

            display: block;
            width: 10px;
            height: 2px;

            transition: all 0.3s ease-out;

            background-color: #333333;

            transform: translate(-3px, -50%) rotate(45deg);
        }
        &::after {
            transform: translate(3px, -50%) rotate(-45deg);
        }
        &:hover {
            border-color: #d8093a;

            &::before,
            &::after {
                background-color: #d8093a;
            }
        }
    }

    // топ 60 было стало 0
    &__content {
        position: absolute;
        top: 74px;
        left: 0;
        padding: 15px 15px 15px 0;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        width: 100%;
        transition: all 0.3s ease-out;
        z-index: 1;

        overflow: hidden;

        &-body {
            border-radius: 15px;
        }
        ._hidden {
            height: 39px;
        }
    }

    &__input {
        display: none;
        pointer-events: none;

        &:checked + label {
            &::after {
                // content: "v";
            }
        }
        &:disabled + label {
            opacity: 0.6;
            pointer-events: none;
        }
    }

    &__label {
        pointer-events: none;

        display: flex;
        align-items: center;
        width: 100%;
        @include adaptive-value("height", 53, 43, 1);
        padding: 0px 16px;

        &[for="singleSelect0-rgn"],
        &[for="singleSelect0-rdk"] {
            border-radius: 15px 15px 0 0;
        }

        &:last-child {
            border-radius: 0 0 15px 15px;
        }

        transition: all 0.3s ease-out;

        cursor: pointer;

        & + input + & {
        }

        &:hover {
        }

        &::before {
            content: attr(data-value);
            opacity: 1;
        }
    }
}

.sselect__content-body {
    border-radius: 15px;
    max-height: 0;
    transition: all 0.3s ease 0s;
    &::-webkit-scrollbar {
        width: 2px;
    }

    &::-webkit-scrollbar-track {
        background-color: rgb(199, 199, 199);
        border-radius: 100px;
    }

    &::-webkit-scrollbar-thumb {
        box-shadow: inset 2px 2px 5px 0 #0079c2;
    }
}

.mini-rect {
    fill: #0079c2;
    transition: all 0.3s ease 0s;
}

.mini-path {
    fill: #fff;
    transition: all 0.3s ease 0s;
}

.mini-icon:hover .mini-rect {
    fill: #fff;
}

.mini-icon:hover .mini-path {
    fill: #0079c2;
}

.path {
    transition: all 0.3s ease 0s;
    cursor: pointer;
    fill: transparent;
    flood-color: transparent;
    /* stroke: #fff; */
    stroke: #fff;
    stroke-width: 2;
    position: relative;
}

.path._hovered {
    fill: #0079c2;
    flood-color: #0079c2;
    z-index: 2;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
    // stroke-opacity: 0.5;
    filter: url(#shadow);
    fill-opacity: 1;
    // opacity: 1;
}

.before,
.before-r {
    position: absolute;
    background-color: #fff;
    @include adaptive-value("padding-top", 11, 4, 1);
    @include adaptive-value("padding-bottom", 11, 4, 1);
    @include adaptive-value("padding-left", 21, 9, 1);
    @include adaptive-value("padding-right", 21, 9, 1);
    @include adaptive-value("border-radius", 15, 5, 1);
    @include adaptive-value("font-size", 18, 10, 1);

    display: block;
    visibility: hidden;
    transition: all 0.3s ease 0s;
    font-style: normal;
    font-weight: 600;
    line-height: 1.18em;
    color: #003251;
    white-space: nowrap;
    z-index: 5;

    &._zindex {
        z-index: 0;
    }
}

.before-r {
    visibility: visible;
    z-index: 651;
}

.before._visible {
    visibility: visible;
}

.path._biger {
    fill: #0079c2;
    flood-color: #0079c2;
    stroke-width: 1;
    opacity: 0.2 !important;
    filter: url(#filter0_i_362_1838);
    fill-opacity: 1;
}

.path._init {
    border: 1px solid black;
    transition: all 0.7s ease 0s;
}

.path._remove {
    transition: all 1s ease 0s;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
}

.path._biger:hover {
    -webkit-tap-highlight-color: unset;
    stroke-opacity: 1;
    filter: url(#filter0_i_362_1838);
}

.path:hover {
    fill: #0079c2;
    z-index: 2;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.15);

    filter: url(#filter0_i_362_1838) url(#shadow);

    // stroke-opacity: 0.5;
    fill-opacity: 1;
    // opacity: 1;
}

div {
    position: relative;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 5px;
    height: 5px;
    background-color: #fff;
    z-index: 500;
    visibility: hidden;
}

.path-2 {
    transition: all 0.3s ease 0s;
    cursor: pointer;
    fill: transparent;
    flood-color: transparent;
    stroke: #000;
    stroke-width: 2;
}

.ymaps-2-1-79-image:hover {
    width: 150px !important;
}

.svg__parent {
    z-index: 2;
    // height: 100%;
    // height: 600px;
    // border: 1px solid black;
    // overflow: hidden;
}

#map-test {
    visibility: visible;
    visibility: hidden;
    opacity: 1;
    height: 100%;

    @media (max-width: 1700px) {
        width: 90%;
    }
    @media (max-width: 1290px) {
        width: 80%;
    }
    @media (max-width: 1200px) {
        width: 100%;
    }
}

.path._biger {
    opacity: 1 !important;
}

.svg__parent a {
    position: absolute;
    display: block;
}

@media (max-width: 1200px) {
    .svg__parent a {
        // pointer-events: none;
    }
    .rodniki__item {
        pointer-events: none;
    }
}

.path._transition {
    transition: all 1s ease 0s;
}

@import "path";
@import "path-1700";
@import "path-1290";
@import "path-1200";
@import "path-992";
@import "path-768";
@import "path-640";
@import "path-475";
@import "path-400";

.svg {
    transition: all 1s ease 0s;
}

.svg._hidden {
    transform: scale(0);
}

.svg2 {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    transition: all 1s ease 0s;
}

.svg2._visible {
    z-index: 1;
    transform: scale(1);
    opacity: 1;
}

.svg2 .path._small {
    transform: none !important;
}

.before {
    @include adaptive-value("width", 253, 140, 1);
    text-align: center;
}
