@media (max-width: 768px) {
    /* scale(4) */
    .path1._biger {
        transform: translate3d(-26%, -27%, 0) scale(5.2) !important;
    }

    .path2._biger {
        transform: translate3d(34%, 32%, 0) scale(5.6) !important;
    }

    .path3._biger {
        transform: translate3d(33%, 44%, 0) scale(5.6) !important;
    }

    .path4._biger {
        transform: translate3d(-10%, -28%, 0) scale(4.7) !important;
    }

    .path5._biger {
        transform: translate3d(30%, 16%, 0) scale(5.3) !important;
    }

    .path6._biger {
        transform: translate3d(32%, -5%, 0) scale(5.5) !important;
    }

    .path7._biger {
        transform: translate3d(33%, 14%, 0) scale(6.3) !important;
    }

    .path8._biger {
        transform: translate3d(28%, 20%, 0) scale(5.7) !important;
    }

    .path9._biger {
        transform: translate3d(37%, 15%, 0) scale(4) !important;
    }

    .path10._biger {
        transform: translate3d(-7%, -15%, 0) scale(4) !important;
    }

    .path11._biger {
        transform: translate3d(-12%, -19%, 0) scale(4) !important;
    }

    .path12._biger {
        transform: translate3d(-34%, -43%, 0) scale(5.7) !important;
    }

    .path13._biger {
        transform: translate3d(10%, -18%, 0) scale(4.8) !important;
    }

    .path14._biger {
        transform: translate3d(18%, -14%, 0) scale(4.5) !important;
    }

    .path15._biger {
        transform: translate3d(34%, -2%, 0) scale(5.3) !important;
    }

    .path16._biger {
        transform: translate3d(30%, 7%, 0) scale(4) !important;
    }

    .path17._biger {
        transform: translate3d(32%, -5%, 0) scale(4.4) !important;
    }

    .path18._biger {
        transform: translate3d(8%, -11%, 0) scale(5.5) !important;
    }

    .path19._biger {
        transform: translate3d(26%, 36%, 0) scale(5) !important;
    }

    .path20._biger {
        transform: translate3d(30%, 24%, 0) scale(5.8) !important;
    }

    .path21._biger {
        transform: translate3d(24%, 12%, 0) scale(5.5) !important;
    }

    .path22._biger {
        transform: translate3d(24%, 9%, 0) scale(5) !important;
    }

    .path23._biger {
        transform: translate3d(10%, 0%, 0) scale(4.5) !important;
    }

    .path24._biger {
        transform: translate3d(12.5%, -30%, 0) scale(4.2) !important;
    }

    .path25._biger {
        transform: translate3d(21%, -21%, 0) scale(5.7) !important;
    }

    .path26._biger {
        transform: translate3d(42%, -9%, 0) scale(5.2) !important;
    }

    .path27._biger {
        transform: translate3d(16%, 10%, 0) scale(5.6) !important;
    }

    .path28._biger {
        transform: translate3d(33%, -19%, 0) scale(5.5) !important;
    }

    .path29._biger {
        transform: translate3d(43%, -8%, 0) scale(5.3) !important;
    }

    .path30._biger {
        transform: translate3d(-30%, -21%, 0) scale(5.25) !important;
    }

    .path31._biger {
        transform: translate3d(1%, -6%, 0) scale(6.2) !important;
    }

    .path32._biger {
        transform: translate3d(-16%, -20%, 0) scale(4) !important;
    }

    .path33._biger {
        transform: translate3d(-16%, -4%, 0) scale(4) !important;
    }

    .path34._biger {
        transform: translate3d(-2%, -17%, 0) scale(5.7) !important;
    }

    .path35._biger {
        transform: translate3d(-35%, -31%, 0) scale(5.3) !important;
    }

    .path36._biger {
        transform: translate3d(-20%, -11%, 0) scale(5.5) !important;
    }

    .path37._biger {
        transform: translate3d(1%, -28%, 0) scale(5.8) !important;
    }

    .path38._biger {
        transform: translate3d(-18%, -27%, 0) scale(4.9) !important;
    }

    .path39._biger {
        transform: translate3d(-14%, -14%, 0) scale(4) !important;
    }

    .path40._biger {
        transform: translate3d(4%, -37%, 0) scale(5.2) !important;
    }

    .path41._biger {
        transform: translate3d(-29%, -45%, 0) scale(5.5) !important;
    }

    .path42._biger {
        transform: translate3d(36%, 33%, 0) scale(4) !important;
    }

    .path43._biger {
        transform: translate3d(19%, 20%, 0) scale(6.2) !important;
    }
}
