@media (max-width: 640px) {
    /* scale(6) */
    .path1._biger {
         transform: translate3d(-25%, -26%, 0) scale(3.7)  !important;
    }

    .path2._biger {
        transform: translate3d(34%, 31%, 0) scale(3.5) !important;
    }

    .path3._biger {
        transform: translate3d(33%, 42%, 0) scale(3.7) !important;
    }

    .path4._biger {
        transform: translate3d(-10%, -27%, 0) scale(3.2) !important;
    }

    .path5._biger {
        transform: translate3d(36%, 13%, 0) scale(3.5) !important;
    }

    .path6._biger {
        transform: translate3d(33%, -2.5%, 0) scale(4.1) !important;
    }

    .path7._biger {
        transform: translate3d(31%, 14%, 0) scale(5) !important;
    }

    .path8._biger {
        transform: translate3d(26%, 24%, 0) scale(4.3) !important;
    }

    .path9._biger {
        transform: translate3d(37%, 15%, 0) scale(6) !important;
    }

    .path10._biger {
        transform: translate3d(-7%, -15%, 0) scale(6) !important;
    }

    .path11._biger {
        transform: translate3d(-12%, -19%, 0) scale(6) !important;
    }

    .path12._biger {
        transform: translate3d(-33%, -35%, 0) scale(3.7) !important;
    }

    .path13._biger {
        transform: translate3d(10%, -19%, 0) scale(3.5) !important;
    }

    .path14._biger {
        transform: translate3d(18%, -11%, 0) scale(3.8) !important;
    }

    .path15._biger {
        transform: translate3d(29%, 0%, 0) scale(3.75) !important;
    }

    .path16._biger {
        transform: translate3d(30%, 7%, 0) scale(6) !important;
    }

    .path17._biger {
        transform: translate3d(23%, -5%, 0) scale(3) !important;
    }

    .path18._biger {
        transform: translate3d(8%, -11%, 0) scale(4) !important;
    }

    .path19._biger {
        transform: translate3d(24%, 33%, 0) scale(6) !important;
    }

    .path20._biger {
        transform: translate3d(30%, 24%, 0) scale(3.7) !important;
    }

    .path21._biger {
        transform: translate3d(18%, 6%, 0) scale(4.1) !important;
    }

    .path22._biger {
        transform: translate3d(25%, 10%, 0) scale(4.6) !important;
    }

    .path23._biger {
        transform: translate3d(8%, 2%, 0) scale(4) !important;
    }

    .path24._biger {
        transform: translate3d(13.5%, -36.5%, 0) scale(3.6) !important;
    }

    .path25._biger {
        transform: translate3d(22%, -25%, 0) scale(3.6) !important;
    }

    .path26._biger {
        transform: translate3d(43%, -15%, 0) scale(3.9) !important;
    }

    .path27._biger {
        transform: translate3d(14%, 12%, 0) scale(3.6) !important;
    }

    .path28._biger {
        transform: translate3d(32%, -16%, 0) scale(3.7) !important;
    }

    .path29._biger {
        transform: translate3d(40%, -1%, 0) scale(3.9) !important;
    }

    .path30._biger {
        transform: translate3d(-34%, -23%, 0) scale(3.5) !important;
    }

    .path31._biger {
        transform: translate3d(2%, -2%, 0) scale(5) !important;
    }

    .path32._biger {
        transform: translate3d(-16%, -20%, 0) scale(6) !important;
    }

    .path33._biger {
        transform: translate3d(-16%, -4%, 0) scale(6) !important;
    }

    .path34._biger {
        transform: translate3d(-0.5%, -16%, 0) scale(3.8) !important;
    }

    .path35._biger {
        transform: translate3d(-43%, -36%, 0) scale(3.6)  !important;
    }

    .path36._biger {
        transform: translate3d(-30%, -9%, 0) scale(3.7) !important;
    }

    .path37._biger {
        transform: translate3d(-1%, -29%, 0) scale(3.7) !important;
    }

    .path38._biger {
        transform: translate3d(-18%, -25%, 0) scale(3.4) !important;
    }

    .path39._biger {
        transform: translate3d(-14%, -14%, 0) scale(6) !important;
    }

    .path40._biger {
        transform: translate3d(3%, -39%, 0) scale(3.5) !important;
    }

    .path41._biger {
        transform: translate3d(-29%, -42%, 0) scale(3.7) !important;
    }

    .path42._biger {
        transform: translate3d(36%, 33%, 0) scale(6) !important;
    }

    .path43._biger {
        transform: translate3d(19%, 19%, 0) scale(4.2) !important;
    }
}
