@media (max-width: 1550px) {
    .path1._biger {
        transform: translate3d(calc(-43% - 88px), -25%, 0) scale(5.4) !important;
    }

    .path2._biger {
        transform: translate3d(calc(19.5% - 88px), 31%, 0) scale(5.35) !important;
    }

    .path3._biger {
        transform: translate3d(calc(26% - 88px), 44%, 0) scale(7.2) !important;
    }

    .path4._biger {
        transform: translate3d(calc(-22% - 88px), -27%, 0) scale(4.3) !important;
    }

    .path5._biger {
        transform: translate3d(calc(22.5% - 88px), 13%, 0) scale(5) !important;
    }

    .path6._biger {
        transform: translate3d(calc(18% - 88px), -3%, 0) scale(5.4) !important;
    }

    .path7._biger {
        transform: translate3d(calc(15.5% - 88px), 14%, 0) scale(7.2) !important;
    }

    .path8._biger {
        transform: translate3d(calc(5% - 88px), 24%, 0) scale(6.6) !important;
    }

    .path12._biger {
        transform: translate3d(calc(-41.5% - 88px), -35%, 0) scale(5.4) !important;
    }

    .path13._biger {
        transform: translate3d(calc(11.5% - 88px), -19%, 0) scale(4.8) !important;
    }

    .path14._biger {
        transform: translate3d(calc(-2% - 88px), -11%, 0) scale(5.4) !important;
    }

    .path15._biger {
        transform: translate3d(calc(13% - 88px), 0%, 0) scale(5.4) !important;
    }

    .path17._biger {
        transform: translate3d(calc(6% - 88px), -5%, 0) scale(4.35) !important;
    }

    .path18._biger {
        transform: translate3d(calc(2% - 88px), -11%, 0) scale(5) !important;
    }

    .path19._biger {
        transform: translate3d(calc(13% - 88px), 33%, 0) scale(6.6) !important;
    }

    .path20._biger {
        transform: translate3d(calc(11% - 88px), 25%, 0) scale(5.5) !important;
    }

    .path21._biger {
        transform: translate3d(calc(5% - 88px), 6%, 0) scale(5.4) !important;
    }

    .path22._biger {
        transform: translate3d(calc(12% - 88px), 10%, 0) scale(6) !important;
    }

    .path23._biger {
        transform: translate3d(calc(3% - 88px), -2%, 0) scale(6) !important;
    }

    .path24._biger {
        transform: translate3d(calc(5.5% - 88px), -36%, 0) scale(4.6) !important;
    }

    .path25._biger {
        transform: translate3d(calc(18% - 88px), -23%, 0) scale(5.4) !important;
    }

    .path26._biger {
        transform: translate3d(calc(42% - 88px), -14%, 0) scale(5.25) !important;
    }

    .path27._biger {
        transform: translate3d(calc(2.5% - 88px), 13%, 0) scale(5.4) !important;
    }

    .path28._biger {
        transform: translate3d(calc(18% - 88px), -17%, 0) scale(5.4) !important;
    }

    .path29._biger {
        transform: translate3d(calc(27% - 88px), -1%, 0) scale(6) !important;
    }

    .path30._biger {
        transform: translate3d(calc(-32% - 88px), -21%, 0) scale(4.9) !important;
    }

    .path31._biger {
        transform: translate3d(calc(-11% - 88px), -1%, 0) scale(6.6) !important;
    }

    .path34._biger {
        transform: translate3d(calc(-13% - 88px), -15%, 0) scale(5.4) !important;
    }

    .path35._biger {
        transform: translate3d(calc(-46.5% - 88px), -36%, 0) scale(5.1) !important;
    }

    .path36._biger {
        transform: translate3d(calc(-30% - 88px), -10%, 0) scale(5.3) !important;
    }

    .path37._biger {
        transform: translate3d(calc(-7.5% - 88px), -29%, 0) scale(5.1) !important;
    }

    .path38._biger {
        transform: translate3d(calc(-34% - 88px), -25%, 0) scale(4.8) !important;
    }

    .path40._biger {
        transform: translate3d(calc(-4% - 88px), -37%, 0) scale(4.9) !important;
    }

    .path41._biger {
        transform: translate3d(calc(-33.5% - 88px), -40%, 0) scale(5.1) !important;
    }

    .path43._biger {
        transform: translate3d(calc(9% - 88px), 20%, 0) scale(6.9) !important;
    }
}
