@media (max-width: 1290px) {
    /* scale(5) */
    .path1._biger {
        transform: translate(-19%, -15%) scale(5) !important;
    }

    .path2._biger {
        transform: translate(35%, 31%) scale(5) !important;
    }

    .path3._biger {
        transform: translate(33%, 45%) scale(5) !important;
    }

    .path4._biger {
        transform: translate(-5%, -17%) scale(5) !important;
    }

    .path5._biger {
        transform: translate(37%, 18%) scale(5) !important;
    }

    .path6._biger {
        transform: translate(35%, 4%) scale(5) !important;
    }

    .path7._biger {
        transform: translate(31%, 19%) scale(5) !important;
    }

    .path8._biger {
        transform: translate(26%, 27%) scale(5) !important;
    }

    .path9._biger {
        transform: translate(37%, 15%) scale(5) !important;
    }

    .path10._biger {
        transform: translate(-7%, -15%) scale(5) !important;
    }

    .path11._biger {
        transform: translate(-12%, -19%) scale(5) !important;
    }

    .path12._biger {
        transform: translate(-26%, -22%) scale(5) !important;
    }

    .path13._biger {
        transform: translate(17%, -14%) scale(5) !important;
    }

    .path14._biger {
        transform: translate(18%, -14%) scale(5) !important;
    }

    .path15._biger {
        transform: translate(29%, 6%) scale(5) !important;
    }

    .path16._biger {
        transform: translate(30%, 7%) scale(5) !important;
    }

    .path17._biger {
        transform: translate(25%, 3%) scale(5) !important;
    }

    .path18._biger {
        transform: translate(8%, -10%) scale(5) !important;
    }

    .path19._biger {
        transform: translate(26%, 36%) scale(5) !important;
    }

    .path20._biger {
        transform: translate(32%, 29%) scale(5) !important;
    }

    .path21._biger {
        transform: translate(20%, 12%) scale(5) !important;
    }

    .path22._biger {
        transform:   translate(24%, 9%) scale(5.5) !important;
    }

    .path23._biger {
        transform: translate(10%, 1%) scale(5) !important;
    }

    .path24._biger {
        transform: translate(33%, -26%) scale(5) !important
    }

    .path25._biger {
        transform: translate(26%, -14%) scale(5) !important;
    }

    .path26._biger {
        transform: translate(43%, -5%) scale(5) !important;
    }

    .path27._biger {
        transform: translate(16%, 18%) scale(5) !important;
    }

    .path28._biger {
        transform: translate(33%, -7%) scale(5) !important;
    }

    .path29._biger {
        transform: translate(41%, 6%) scale(5) !important;
    }

    .path30._biger {
        transform: translate(-26%, -10%) scale(5) !important;
    }

    .path31._biger {
        transform: translate(6%, 6%) scale(5) !important;
    }

    .path32._biger {
        transform: translate(-16%, -20%) scale(5) !important;
    }

    .path33._biger {
        transform: translate(-16%, -4%) scale(5) !important;
    }

    .path34._biger {
        transform: translate(4%, -6%) scale(5) !important;
    }

    .path35._biger {
        transform: translate(-34%, -23%) scale(5) !important;
    }

    .path36._biger {
        transform: translate(-21%, 1%) scale(5) !important;
    }

    .path37._biger {
        transform: translate(5%, -17%) scale(5) !important;
    }

    .path38._biger {
        transform: translate(-12%, -13%) scale(5) !important;
    }

    .path39._biger {
        transform: translate(-14%, -14%) scale(5) !important;
    }

    .path40._biger {
        transform: translate(8%, -24%) scale(5) !important;
    }

    .path41._biger {
        transform: translate(-20%, -28%) scale(5) !important;
    }

    .path42._biger {
        transform: translate(36%, 33%) scale(5) !important;
    }

    .path43._biger {
        transform: translate(22%, 24%) scale(5) !important;
    }
}
