@import "null";
@import "mixins";
@import "fonts";
@import "link-underline";

* {
    font-family: "proximanova";
}

img {
    display: inline-block;
}

.header {
    z-index: 1;
}

body {
    background-color: #f9f9f9;
    &._noscroll {
        overflow: hidden;
    }
}

._container {
    max-width: 1506px;
    margin: 0 auto;
    @media (max-width: 1592px) {
        max-width: none;
        padding: 0 40px;
    }

    @media (max-width: 768px) {
        padding: 0 22px;
    }
}

._title {
    font-style: normal;
    font-weight: 600;
    color: #0079c2;
}

.header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    // .header__container

    &__container {
        @media (max-width: 992px) {
            padding: 0 !important;
        }
    }

    // .header__body

    &__body {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-top: 20px;

        @media (max-width: 992px) {
            padding-top: 0;
            justify-content: flex-end;
        }
    }

    // .header__burger

    &__burger {
        width: 44px;
        height: 44px;
        flex: 0 0 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(255, 255, 255, 0.01);
        border: 0.5px solid rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(4px);
        border-radius: 8px;
        cursor: pointer;
        margin-left: 14px;
        top: 3px;
        position: fixed;
        left: 0;
        top: 14px;
        z-index: 50;
        background-color: #1b5f85;

        display: none;

        @media (max-width: 992px) {
            display: flex;
        }

        img {
            pointer-events: none;
        }
    }

    // .header__menu

    &__menu {
        flex: 1 1 auto;

        @media (max-width: 992px) {
            position: fixed;
            left: -100%;
            transition: all 0.3s ease 0s;
            top: 0;
            height: 100%;
            width: 50%;
            background: #0079c2;
            border-radius: 0 0 10px 0;
            padding: 15px 0 25px 0;
            z-index: 100000;
            display: flex;
            flex-direction: column;

            &._active {
                left: 0;
            }
        }

        // .header__menu-close

        &-close {
            width: 40px;
            height: 40px;
            flex: 0 0 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: rgba(255, 255, 255, 0.01);
            border: 0.5px solid rgba(255, 255, 255, 0.2);
            backdrop-filter: blur(4px);
            border-radius: 8px;
            margin-left: 34px;
            margin-bottom: 66px;
            cursor: pointer;

            display: none;

            @media (max-width: 992px) {
                display: flex;
            }

            img {
                pointer-events: none;
            }
        }

        // .header__menu-body

        &-body {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            & > :not(:last-child) {
                @include adaptive-value("margin-right", 65, 0, 1);
            }

            @media (max-width: 992px) {
                flex-direction: column;
                align-items: flex-start;
                flex: 1 1 auto;
            }
        }

        // .header__menu-item

        &-item {
            @media (max-width: 992px) {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                width: 100%;
                padding: 16px 20px 13px 34px;
                margin-right: 0 !important;
                transition: all 0.3s ease 0s;
                position: relative;

                &:not(:last-child) {
                    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
                }

                &._active {
                    background-color: #fff;

                    a {
                        color: #0079c2;
                        background-color: #fff;
                    }

                    svg {
                        fill: #fff;
                    }

                    span {
                        background-color: #0079c2;
                    }
                }
            }

            span {
                width: 22px;
                height: 22px;
                background-color: #fff;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: 25px;
                transition: all 0.3s ease 0s;

                display: none;

                @media (max-width: 992px) {
                    display: flex;
                    z-index: 1;
                }
            }

            svg {
                fill: #0079c2;
                transition: all 0.3s ease 0s;
            }
        }

        // .header__menu-link

        &-link {
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 1.2em;
            color: #ffffff;
            transition: all 0.3s ease 0s;

            @media (max-width: 992px) {
                font-size: 16px;

                height: 100%;
                width: 100%;
                position: absolute;
                left: 0;
                padding-left: 34px;
                top: 0;
                vertical-align: middle;
                display: flex;
                align-items: center;
            }
        }

        // .header__menu-gaz

        &-gaz {
            margin: 0 auto;
            max-width: 113px;
            display: none;
            @media (max-width: 992px) {
                display: block;
            }
        }
    }

    // .header__logo

    &__logo {
        display: flex;
        position: relative;

        & > :first-child {
            @include adaptive-value("margin-right", 36, 8, 1);
        }

        img {
            pointer-events: none;
        }
    }
}

.logo-sovet {
    @include adaptive-value("height", 103, 57, 1);
}
.logo-main {
    @include adaptive-value("height", 103, 57, 1);
}
main._zindeed {
    position: relative;
    z-index: 0;
}

.main {
    background-size: cover;
    background-repeat: no-repeat;
    @include adaptive-value("padding-bottom", 62, 29, 1);
    @include adaptive-value("padding-top", 123, 57, 1);

    // .main__body

    &__body {
    }

    // .main__title

    &__title {
        font-style: normal;
        font-weight: 800;

        @include adaptive-value("padding-top", 65, 50, 1);
        @include adaptive-value("font-size", 65, 28, 1);
        @include adaptive-value("margin-bottom", 71, 64, 1);
        line-height: 1.22em;
        color: #ffffff;

        span {
            font-weight: 500;
        }
    }

    // .main__subtitle

    &__subtitle {
        font-style: normal;
        font-weight: 400;
        @include adaptive-value("font-size", 18, 12, 1);
        @include adaptive-value("margin-bottom", 33, 20, 1);
        @include adaptive-value("border-radius", 15, 10, 1);
        @include adaptive-value("padding-top", 17, 12, 1);
        @include adaptive-value("padding-bottom", 16, 12, 1);
        @include adaptive-value("padding-left", 23, 14, 1);
        @include adaptive-value("padding-right", 19, 14, 1);
        line-height: 1.22em;

        color: #ffffff;
        background-color: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(20px);
        max-width: 790px;
        width: 100%;

        @media (max-width: 1200px) {
            br {
                display: none;
            }
        }

        @media (max-width: 790px) {
            max-width: none;
        }

        mark {
            background-color: unset;
            color: inherit;
            font-weight: 700;
        }
    }

    // .main__desrc

    &__desrc {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        @include adaptive-value("margin-bottom", 67, 63, 1);

        @media (max-width: 1200px) {
            flex-direction: column;
            align-items: flex-start;
            br {
                display: none;
            }
        }

        // .main__desrc-text

        &-text {
            flex: 0 0 790px;
            background-color: #ffffff;
            border: 1px dashed #ffffff;
            backdrop-filter: blur(20px);
            font-style: normal;
            font-weight: 400;
            line-height: 1.22em;
            color: #003251;
            padding-top: 15px;
            padding-bottom: 15px;

            @include adaptive-value("font-size", 18, 12, 1);
            @include adaptive-value("margin-right", 48, 0, 1);
            @include adaptive-value("border-radius", 15, 10, 1);
            @include adaptive-value("padding-left", 23, 14, 1);
            @include adaptive-value("padding-right", 23, 10, 1);

            @media (max-width: 1200px) {
                margin-right: 0;
                margin-bottom: 22px;
                flex: unset;
                max-width: 790px;
                width: 100%;
            }

            @media (max-width: 790px) {
                max-width: none;
            }

            mark {
                background-color: unset;
                color: inherit;
                font-weight: 700;
            }
        }

        // .main__desrc-director

        &-director {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            span {
                color: #ffffff;
                font-style: normal;
            }
            & :first-child {
                font-weight: 700;
                @include adaptive-value("font-size", 25, 14, 1);
                margin-bottom: 6px;
                line-height: 1.2em;
            }
            & :last-child {
                font-weight: 400;
                @include adaptive-value("font-size", 18, 12, 1);
                line-height: 1.22em;
                color: #ffffff;
            }
        }
    }

    // .main__next

    &__next {
        display: block;
        margin: 0 auto;
        width: 25px;
        position: relative;
        transition: all 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                transform: translate(0, -5px);
            }
        }
        img {
            pointer-events: none;
            width: 100%;
        }
    }
}

.about {
    @include adaptive-value("margin-bottom", 137, 52, 1);

    // .about__container

    &__container {
    }

    // .about__body

    &__body {
    }

    // .about__title

    &__title {
        @include adaptive-value("font-size", 42, 28, 1);
        @include adaptive-value("margin-bottom", 45, 15, 1);

        line-height: 1.22em;
    }

    // .about__text

    &__text {
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 1.2em;
        color: #003251;
        padding: 50px 52px;

        border: 1px dashed #0070ba;
        backdrop-filter: blur(20px);
        border-radius: 15px;
    }

    // .about__post

    &__post {
        background-repeat: no-repeat;
        background-size: contain;

        @media (max-width: 992px) {
            background-size: cover;
            background-position: center;
            background-color: rgba(196, 196, 196, 0.01);
            backdrop-filter: blur(10px);
            border-radius: 12px;
        }

        // .about__post-body&-body

        &-body {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;

            @include adaptive-value("padding-top", 80, 28, 1);
            @include adaptive-value("padding-bottom", 56, 25, 1);
            @include adaptive-value("padding-left", 65, 22, 1);
            @include adaptive-value("padding-right", 90, 22, 1);
            @include adaptive-value("border-radius", 15, 12, 1);

            box-shadow: 0px 4px 15px rgba(0, 48, 78, 0.15);
            min-height: 0;
            flex-wrap: wrap;

            @media (max-width: 1200px) {
                display: block;
            }
        }

        // .about__post-text

        &-text {
        }

        // .about__post-info

        &-info {
            flex: 0 0 100%;
            font-style: normal;
            font-weight: 400;
            line-height: 1.2em;
            color: #00426a;
            padding: 19px 24px;

            border: 1px dashed #0079c2;
            @include adaptive-value("border-radius", 5, 12, 1);
            @include adaptive-value("font-size", 16, 10, 1);
            @include adaptive-value("margin-top", 36, 25, 1);

            @media (max-width: 992px) {
                background-color: #fff;
            }

            span {
                font-weight: 600;
                color: #0079c2;
            }
        }

        // .about__post-title

        &-title {
            font-style: normal;
            font-weight: 400;
            @include adaptive-value("font-size", 42, 20, 1);

            line-height: 1.15em;
            color: #ffffff;
            margin-bottom: 25px;
        }

        // .about__post-subtitle

        &-subtitle {
            background: rgba(255, 255, 255, 0.2);
            backdrop-filter: blur(20px);
            @include adaptive-value("border-radius", 15, 10, 1);
            @include adaptive-value("padding-top", 19, 15, 1);
            @include adaptive-value("padding-bottom", 19, 15, 1);
            @include adaptive-value("padding-left", 25, 23, 1);
            @include adaptive-value("padding-right", 35, 10, 1);
            @include adaptive-value("margin-bottom", 122, 25, 1);
            @include adaptive-value("font-size", 18, 12, 1);

            font-style: normal;
            font-weight: 500;
            line-height: 1.18em;
            color: #ffffff;
            @media (max-width: 1350px) {
                br {
                    display: none;
                }
            }
        }

        // .about__post-descr

        &-descr {
            font-style: normal;
            font-weight: 400;
            @include adaptive-value("font-size", 14, 10, 1);
            max-width: 380px;

            @media (max-width: 1350px) {
                max-width: none;
            }

            line-height: 1.22em;
            color: #003251;

            @media (max-width: 992px) {
                padding: 18px 23px;
                border: 1px dashed #0079c2;
                border-radius: 12px;
                background-color: #fff;
            }

            strong {
                color: #0079c2;
            }
        }

        // .about__post-slider

        &-slider {
            max-width: 828px;
            @include adaptive-value("max-width", 828, 190, 1);

            margin-left: 25px;

            @media (max-width: 1350px) {
                max-width: none !important;
                margin-left: 0;
                margin-top: 25px;
            }
        }
    }
}

.slider {
    @media (max-width: 768px) {
        display: none;
    }

    // .slider__wrapper

    &__wrapper {
    }

    // .slider__body

    &__body {
        display: flex;
        @media (min-width: 769px) {
            & > :first-child {
                @include adaptive-value("margin-right", 70, 0, 1);
            }
        }
    }

    // .slider__slide

    &__slide {
        height: auto;
        @media (min-width: 1201px) {
            @include adaptive-value("flex-basis", 379, 100, 1);
        }
        flex-grow: 0;
        flex-shrink: 0;

        @media (max-width: 1350px) {
            flex: 1 1 50%;
        }

        @media (max-width: 768px) {
            flex: 0 0 100%;
        }

        // .slider__slide-body

        &-body {
            background: #ffffff;
            border: 1px dashed #0079c2;
            @include adaptive-value("padding-top", 36, 25, 1);
            @include adaptive-value("padding-bottom", 36, 25, 1);
            @include adaptive-value("border-radius", 15, 12, 1);

            height: 100%;
        }

        // .slider__slide-image

        &-image {
            border-bottom: 1px dashed #0079c2;
            @include adaptive-value("padding-bottom", 37, 27, 1);
            @include adaptive-value("padding-left", 31, 23, 1);
            @include adaptive-value("margin-bottom", 22, 20, 1);
        }

        // .slider__slide-title

        &-title {
            font-style: normal;
            font-weight: 400;
            @include adaptive-value("font-size", 22, 20, 1);
            @include adaptive-value("padding-left", 31, 23, 1);
            line-height: 1.18em;
            color: #0079c2;
            margin-bottom: 20px;
        }

        // .slider__slide-text

        &-text {
            font-style: normal;
            font-weight: 400;
            line-height: 1.18em;
            color: #003251;
            @include adaptive-value("font-size", 14, 10, 1);
            @include adaptive-value("padding-left", 31, 23, 1);
            @include adaptive-value("padding-right", 31, 23, 1);
            max-width: 99%;

            strong {
                color: #0079c2;
            }

            li {
                list-style: disc;
                margin-left: 12px;
                &::marker {
                    font-size: 5px;
                }
            }
        }
    }

    // .slider__controlls

    &__controlls {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 5px;
    }

    // .slider__pagination

    &__pagination {
        width: fit-content !important;
        margin: 0 27px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: static !important;
        height: 100%;
        margin-top: 5px;

        & > :not(:last-child) {
            margin-right: 14px !important;
        }
        span {
            display: block;
            padding: 5px;
            opacity: 1 !important;
            background-color: #ffffff;
            border: 0.5px solid rgba(0, 121, 194, 0.1) !important;
            box-shadow: 0px 4px 4px rgba(0, 121, 194, 0.15) !important;

            &.swiper-pagination-bullet-active {
                background-color: #0079c2;
            }
        }
    }

    // .slider__prev

    &__prev {
        background: #ffffff;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 50px;
        flex: 0 0 38px;
        width: 38px;
        height: 38px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        img {
            pointer-events: none;
            margin: 2px 4px 0 0;
        }
    }

    // .slider__next

    &__next {
        background: #ffffff;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 50px;
        flex: 0 0 38px;
        width: 38px;
        height: 38px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        img {
            pointer-events: none;
            transform: rotate(180deg);
            margin: 2px 0 0 4px;
        }
    }
}

.slider2 {
    display: none;
    @media (max-width: 768px) {
        display: block;
    }
}

.gallery {
    // .gallery__container

    &__container {
    }

    // .gallery__body

    &__body {
    }

    // .gallery__title

    &__title {
        @include adaptive-value("font-size", 42, 28, 1);
        @include adaptive-value("margin-bottom", 42, 18, 1);
        line-height: 1.22em;
    }

    // .gallery__grid

    &__grid {
        position: relative;
        height: 1001px;
        width: 100%;

        img {
            transition: all 0.3s ease 0s;

            position: absolute;
            @media (any-hover: hover) {
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }
}

.footer {
    @include adaptive-value("margin-top", 153, 59, 1);

    background-size: cover;
    background-repeat: no-repeat;
    @include adaptive-value("padding-top", 56, 36, 1);
    @include adaptive-value("padding-bottom", 39, 20, 1);

    // .footer__container

    &__container {
    }

    // .footer__body

    &__body {
    }

    // .footer__top

    &__top {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);

        @include adaptive-value("margin-bottom", 39, 17, 1);
        @include adaptive-value("padding-bottom", 47, 31, 1);
        & > :not(:last-child) {
            @include adaptive-value("margin-right", 21, 8, 1);
        }

        // .footer__top-item

        &-item {
            img {
                pointer-events: none;
                @include adaptive-value("height", 122, 57, 1);
            }
        }
    }

    // .footer__bottom

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: 992px) {
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
        }
    }

    // .footer__info

    &__info {
        font-style: normal;
        font-weight: 600;
        line-height: 1.22em;
        color: #ffffff;
        @include adaptive-value("font-size", 18, 10, 1);
        @media (max-width: 992px) {
            margin-bottom: 7px;
        }
        @media (max-width: 768px) {
            font-weight: 400;
        }
    }

    // .footer__privacy

    &__privacy {
        font-style: normal;
        line-height: 1.22em;
        font-weight: 400;
        color: #ffffff;
        @include adaptive-value("font-size", 14, 10, 1);
        border-bottom: 1px solid rgb(255, 255, 255);
        @include adaptive-value("padding-bottom", 6, 3, 1);
    }
}

.hidden__categories {
    visibility: hidden;
    opacity: 0;
    z-index: -50;
}

@media (max-width: 992px) {
    .gallery {
        z-index: 0;
        position: relative;
    }
}

@import "rodnik_page";
@import "map";
